.main-btn {
  border: none;
  text-align: center;
  border-radius: $raduisSmall;
  position: relative;
  font-weight: 700;
  width: fit-content; height: fit-content;
  cursor: pointer;
  padding: 15px 25px;
  @include gradient(135deg, $pinkColor, $purpleColor);
  @include beforeBackground(135deg, $yellowColor, $orangeColor, $redColor);
};
.main-btn.secnonray {
  @include gradient(135deg, $yellowColor, $orangeColor, $redColor);
  @include beforeBackground(135deg, $pinkColor, $purpleColor);
}
.main-btn.sky {
  @include gradient(135deg, $skyBlueColor, $purpleColor);
  @include beforeBackground(135deg, $yellowColor, $orangeColor, $redColor);
}