// Colors Varriubles

$skyBlueColor: #57F0FA;
$pinkColor: #FA26CA ;
$purpleColor: #712AF9;
$yellowColor: #FDCE39 ;
$redColor: #ED5174 ;
$orangeColor: #FD8963;
$greyColor: #beb8cc;
$bgBody: #170f32;
$bgSections: #1a1135;
$constHeader: #140c2d;
$white: #ffffff;
$grayLow: rgba(255,255,255,.2);
$black: #000000;

// Main Var

$transtion: .7s;

// border raduies

$raduisSmall: 6px;
$raduisMedium: 10px;

// Media

$mobile: 767px;
$small: 768px;
$medium: 992px;
$large: 1200px;

// Padding

$paddingSpacing: 120px;